body{
    background-color: #f0f0f0;
    font-family: sans-serif;
    }
    
    .form{
        width: 400px;
        margin: auto;
        padding-top: 40px;
    }
    
    
    
    .card{
        box-shadow: 1px 1px 5px #ccc;
        background-color: white;
        padding: 15px;
        border-radius: 30px;
        
    }
    
    
    .card-top{
        text-align: center;
    }
    
    .card-group{
        margin-bottom: 15px;
    }
    
    .card-group > label{
        width: 100%;
        color: rgb(75, 75, 75);
        display: block;
    }
    
    .card-group > input{
        border-radius: 5px;
        outline: 0;
        width: 100%;
        height: 25px;
        padding: 5px;
    }
    
    .card-group > button{
        background-image: linear-gradient(to right, #dc3545, #5a0c14);
        width: 100%;
        border-radius: 30px;
        padding: 15px;
        color: white;
        border: 0px;
        outline: 0;
    }
    
    .btn button:hover{
        background-image: linear-gradient(to right, #dc3545, #38080d);
    }
    
    .imglogin{
        border-radius: 50px;
        width: 100px;
        box-shadow: 0px 0px 15px #ccc;
    }
    
    .title{
        color: #dc3545;
    }
    
    .card-group >button{
        background-image: linear-gradient(to right, #dc3545, #5a0c14);
        width: 100%;
        border-radius: 30px;
        padding: 15px;
        color: white;
        border: 0px;
        outline: 0;
    }


.card-group{
    width: 100%;
}
